.history-header-container {
    width: 100%;
    height: 800px;
    background-image: url('./assets/SamoanDance.jpg');
    background-size: cover;
    background-position: center top;
    position: relative;
}

.history-title-container {
    position: absolute;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}  

.history-header-container::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: grayscale(100%); /* Change the color and opacity as needed */
  }

.history-title {
    font-family: Martel, arial;
    margin: 0;
    font-weight: 400;
    font-size: 10vw;
    background: -webkit-linear-gradient(black, gray);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}   

.sub-title {
    font-family: Josefin Sans, arial;
    font-weight: 400;
    font-size: 2vw;
    background: -webkit-linear-gradient(black, gray);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}